.App {
  text-align: center;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow: hidden;
  height: 100vh;
}

.body-content {
  padding: 0 5rem;
  height: 100%;
  overflow: auto;
}

.spinner {
  display: inline-block;
  width: 100%;
  height: 100%;
  border: 3px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  border-top-color: rgba(0, 0, 0, 1);
  animation: spin 1s ease-in-out infinite;
}

@keyframes spin {
  to { transform: rotate(360deg) }
}

.success{
  background: darkgreen;
  color: white;
}

.info {
  background: #4aa1f3;
  color: white;
}

.error {
  background: red;
  color: white;
}

.success-color{
  color: darkgreen;
}

.info-color {
  color: #4aa1f3;
}

.error-color {
  color: red;
}

.access-form-container-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  padding: 0.5rem 2rem 0 2rem;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  margin-top: 6rem;
}

.access-form-container {
  border-left: 1px solid black;
  border-right: 1px solid black;
  width: fit-content;
  margin: auto;
  padding: 0 3rem;
  border-radius: 0.5rem;
}

.access-form-disclaimer {
  font-size: 1.5rem;
}

.access-form-input {
  margin: 0.5rem 0;
  padding: 0.5rem 1em;
  font-size: 1.2rem;
}

.access-form-submit {
  margin-top: 1rem;
  font-size: 1.2rem;
  background: cadetblue;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  cursor: pointer;
}

.access-form-submit:active {
  background: white;
  color: cadetblue;
}

.access-form-switch-link {
  color: rgba(0, 0, 0, 0.5);
}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
